.tags{
    float: right;
    width: 200px;
}
.tags ul{
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
}
.tags ul li{
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 5px;
    border-bottom: 1px solid #EEEEEE;
}
.tags a{
    float: left;
    width: 100%;
    background-color: #EEEEEE;
    color: #000000;
    text-transform: uppercase;
}